<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>                        
			</button>
			<a class="navbar-brand" href="{% url 'mainpage' %}">Home</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav">
				<li><a href="{% url 'helloworld' %}">Diary</a></li>
				<li><a href="{% url 'profile' %}">My Profile</a></li>
				<li><a href="{% url 'hellobooks' %}">Books</a></li>
				<li><a href="{% url 'subscribe' %}">Subscribe!</a></li>
			</ul>
		</div>
	</nav>	


	