<!DOCTYPE html>
<html lang="en">
	<head>
		{% include 'app6/layout/base.html' %}
		{% load staticfiles %}
		{% load static %}
		
		<!--Made with love by Alya Isti Safira-->
		<title>Diary of Eyebrow!?</title>

		<style>
			
	</style>


		   
	</head>
	<body onload="myFunction()" style="background-color: #FCD1D8">
		{% block hello %}

		<div id = "centered">
			<div class = "blob-1"></div>
			<div class = "blob-2"></div>
		</div>

		<div style="display:none;" class="animate-bottom" id="myCodes">
			<div class="jumbotron" style="margin-top: 18%;">
					<h1 > Halo, apa kabar?</h1>
					<h3> How's your day?</h3>
			</div>
	
			<div id ="nav-placeholder">
				{% include "app6/partials/header.html" %}
			</div>
		
			<!--Form-->
			<div class="tableform">
				<div class="container-fluid header5">
					<div class="d-flex flex-column bd-highlight mb-3">
						<div class="p-2 bd-highlight"><h1 class="text mb-0"><h1>Put some comments!</h1></div>
						<hr>
					</div>
				</div>
					
				<section id="scheduleform">
					<div class="col-4"></div>
					<div class="sched_form" style="color: black">
						<br>
						<form id="form", method="POST", action="{% url 'addtask' %}">
							{% csrf_token %}
							{{ addtask }}
							<br>
							<input type="submit" value="Submit" id = "submit" class="registerbtn" style="color: black;
							font-family: 'Roboto Mono', monospace !important;"> 
						</form>
					</div>
				</section>
			</div>
	
			<div class="tableresult">
				<div class="container-fluid header6">
					<div class="d-flex flex-column bd-highlight mb-3">
						<div class="p-2 bd-highlight"><h1 class="text mb-0" style="color: black">Take a look.</h1></div>
						<hr>
					</div>
				</div>
				<div class="col-sm-20">
					<div class="container-fluid header6">
						<div class="roundedrec">
							<div class="insiderec">
								<table class = "table" style="color: black;">
									{% if helloworldall %}
										<thead style="color: black;" >
											<th>Comments</th>
											<th>Date & Time</th>
										</thead>
										{% for i in helloworldall %}
											<tr>
												<td style="word-break:break-all; width: 60%;"> <strong> {{ i.title }} </strong>
												</td>
												<td style="padding-bottom: 1rem">{{ i.created_date }}</td>
											</tr>
										{% endfor %}
									{% else %}
										<div class="alert alert-danger text-center">
											<strong>Oops!</strong> There's nothing here.
										</div>
									{% endif %}
								</table>

								<div id="makebutton">
										<br>
											<a href="{% url 'helloworld' %}"><h4 style="color: black;">Write something!</h4></a>
										</div>
									<div id="deletebutton">
										<br>
										<a href="/deletetask"><h4 style="color: black">Delete Table</h4></a>
										<br>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="footer" id="eleventhpage">
				{% include "app6/partials/footer.html" %}
			</div>
		
		
		</div>

		
		{% endblock %}
		
    </body>
</html>