<!DOCTYPE html>
<html lang="en">
	<head>
		{% include 'app6/layout/base.html' %}
		{% load staticfiles %}
		{% load static %}
		
		<!--Made with love by Alya Isti Safira-->
		<title>Hello Eyebrow!?</title>

		<style>
			/* h1 {
			
			font-size: 1.5em;
			font-weight: 900;
			margin: 0 0 2em;
			
			@media (min-width: 450px) {
			font-size: 2em;
			}
			
			@media (min-width: 760px) {
				font-size: 3.25em;
			}
			
			@media (min-width: 900px) {
				font-size: 5.25em;
				margin: 0 0 1em;
			}
			} */

		.btn {
			color: #000;
			cursor: pointer;
			font-size:16px;
			font-weight: 400;
			line-height: 45px;
			margin: 0 0 2em;
			max-width: 160px; 
			position: relative;
			text-decoration: none;
			text-transform: uppercase;
			width: 100%; 
		}

		.btn-2 {
			letter-spacing: 0;
		}

		.btn-2:hover,
		.btn-2:active {
		letter-spacing: 5px;
		}

		.btn-2:after,
		.btn-2:before {
		backface-visibility: hidden;
		border: 1px solid rgba(#000, 0);
		bottom: 0px;
		content: " ";
		display: block;
		margin: 0 auto;
		position: relative;
		transition: all 280ms ease-in-out;
		width: 0;
		}

		.btn-2:hover:after,
		.btn-2:hover:before {
		backface-visibility: hidden;
		border-color: #000;
		transition: width 350ms ease-in-out;
		width: 70%;
		}

		.btn-2:hover:before {
		bottom: auto;
		top: 0;
		width: 70%;
		}

		.text-center{
			
			padding: 1em;
		}

		
	</style>


		   
	</head>
	<body onload="myFunction()" style="background-color: #451930">
		{% block hello %}

		<!-- <div id="loader">
		
		</div> -->

		<div id = "centered">
			<div class = "blob-1"></div>
			<div class = "blob-2"></div>
		</div>

		<div style="display:none;" class="animate-bottom" id="myCodes">
			<div id ="nav-placeholder">
					{% include "app6/partials/header.html" %}
				</div>
	
			<div class="text-center" style="margin: 9% 9% 0 9%;">
                <div class="roundedrec">
					<div class="insiderec">
						<h3>Hello! I'm</h3>
						<h1 id="myname"><strong>Alya Isti Safira</strong></h1> <br>
						<img id="img-2" class="imagesaya" style="border-radius: 50%" src="https://i.imgur.com/RSYsjbw.jpg" alt="Alya Isti" width="200em" height="200em" ><br><br>
						<h5 class="frontpage"> Undergraduate student in Faculty of Computer Science, Universitas Indonesia<br>
				<br>Majoring in Information System<br><br>Passionate in Marketing field<br><br>Lives in the world of concepting</h5>
					</div>
				</div>
			</div>	
			

			<div class="text-center" style="margin: 0 9% 0 9%;">
                <div class="roundedrec">
                    <div class="insiderec">
                	<img class="descriptions" style="text-align: center; object-fit: cover;" src="https://cdn.dribbble.com/users/53712/screenshots/2658215/reddude.gif" alt="sun" width="200em" height="200em">
					<h4>Mind to check these links?</h4><br>
					<a href="https://alisbelajarppw.herokuapp.com" class="btn btn-2">Other Web</a> 
					<a href="mailto:safiraalya@gmail.com" class="btn btn-2">Email</a>
					<a href="https://instagram.com/alyaisti" class="btn btn-2">Instagram</a> 
					<a href="https://twitter.com/alysfr_" class="btn btn-2">Twitter</a> 
                    </div>
                </div>
			</div>

		
			
					
			<div class="footer" id="eleventhpage">
				{% include "app6/partials/footer.html" %}
			</div>
		
		
		</div>

		
		
		
		{% endblock %}
		
    </body>
</html>