<!DOCTYPE html>
<html lang="en">
	<head>
	{% include 'app6/layout/base.html' %}
	{% load staticfiles %}
	{% load static %}

	<!--Made with love by Alya Isti Safira-->
	<title>Eyebrow's profile!</title>
	<style>
		#secondpage{
			background-color: #d2926f;
			color: maroon;
		}
		.imagesaya{
			margin-top:2% !important;
			border-radius: 50% !important;
			object-fit: cover !important;
			box-sizing: border-box !important;
			/**box-shadow: 5px 5px;*/
		}

		.accordion {
		background-color: #eee;
		color: #444;
		cursor: pointer;
		padding: 1.5rem;
		width: 100%;
		border: black;
		text-align: left;
		/* outline: none; */
		font-size: 15px;
		transition: 0.4s ease !important;
		box-shadow: 0 15px 20px -15px rgba(0, 0, 0, 0.3), 0 35px 50px -25px rgba(0, 0, 0, 0.3), 0 85px 60px -25px rgba(0, 0, 0, 0.1);
		}

		.active, .accordion:hover {
			background-color: maroon;
			color: white;
		}

		.panel {
			padding: 1.5rem;
			background-color: white;
			overflow: hidden;
			display: none;
		}


	</style>

	</head>
	<body onload="myFunction()" style="background-color: #FCF8C9;" >
		{% block content %}

		<!-- <div id="loader">
		</div> -->
		<div id = "centered">
				<div class = "blob-1"></div>
				<div class = "blob-2"></div>
			</div>

		<div style="display:none;" class="animate-bottom" id="myCodes">
			<div id ="nav-placeholder">
				{% include "app6/partials/header.html" %}
			</div>

			<div class="jumbotron" style="margin: 20% 9% 0 9%; ">
                <div class="roundedrec"  id="secondpage" style="background-color: #d2926f; color: maroon;">
					<div class="insiderec">
						<img class="descriptions" src="http://www.calstatela.edu/sites/default/files/groups/Career%20Development%20Center/Images/self_assessment.png" alt="aboutme" width="150px" height="150px">
						<h3><strong>ABOUT ME</strong></h3><br>
						<h4>I am {{ myAge }} years old. <br><br>
								Born at 23rd June 2000.<br><br>
								Born in Jakarta. <br><br>
								An ENFP.</h4>
						<h4>I love dogs.<br><br>
								I love piano. <br><br>
								I love music. <br><br>
								I love to swim, and badminton playing. <br><br>
								I love to read. </h4>
						<h5>I make songs. And webtoon.</h5>
					</div>
				</div>
			</div>	

			<div class="text-center"  style="margin: 9% 9% 0 9%; ">
                <div class="roundedrec" style="background-color: #eee;">
					<div class="insiderec">
						<img class="experience" src="https://static.thenounproject.com/png/1090559-200.png" alt="briefcase" width="150px" height="150px">
						<button class="accordion">Activities</button>
						<div class="panel">
							<ul style="text-align: left">
								<li>Programming</li>
								<li>Eating macaroni</li>
								<li>Doing nothing while ranting</li>
								<li>Listening to lofi music</li>
								<li>Making good day coffee</li>
								<li>Swimming, swimming, badminton!</li>
							</ul>
							
						</div>
						<button class="accordion">Experience</button>
						<div class="panel" style="text-align: left">
							<h4>Organizational Experience</h4>
							<h5><strong>Student Council in 78 Senior High School</strong><br>
								Deputy of Regeneration Division <br>
								Staff of Cultural Division</h5>
							<h5><strong>78 Senior High School Journalism</strong><br>
								Human Resources Development</h5>
							<h5><strong>Computer Science Student Representat<br>ive Board</strong><br>
								Staff of Steering Committee Division</h5>
							<h5><strong>Asciipella, organization for music lover <br>
										in Faculty of Computer Science</strong><br>
										Head of Instrument Division</h5><br> <hr style="color: black">
										<br>
							<h4>Project & Volunteer Experience</h4>
							<h5><strong>Student Council Team Building and Regeneration</strong><br>
								Project Officer</h5>
							
							<h5><strong>Open House Fasilkom UI 2017</strong><br>
								Staff of Public Relations and Publication</h5>
			
							<h5><strong>AIESEC UI</strong><br>
									Jakarta Environmental Care Project Winter 2018 - EP Buddy</h5>
			
							<h5><strong>The 25th Computers Get Together</strong><br>
								Staff of Event</h5>
			
							<h5><strong>COMPFEST X</strong><br>
								Staff of Seminar</h5>
							
							<h5><strong>AIESEC UI</strong><br>
								Beyond Race Project Summer 2018 - EP Buddy</h5>
			
							<h5><strong>UNIVERSIADE UI 2018</strong><br>
								Vice Person in Charge of Publication</h5>
							
							<h5><strong>Teater Pandora</strong><br>
								Marketing: Staff of Media Partner</h5>
			
							<h5><strong>Wisuda Ganjil 2019</strong><br>
								Vice Project Officer</h5>

							<h5><strong>CGT in Action</strong><br>
								Person in Charge of Human Resources Development</h5><br>
						</div>
						
						<button class="accordion">Achievements</button>
						<div class="panel" style="text-align: left">
								
								<h5><strong>3rd Winner</strong><br>
										4th Grade Islamic Religion Competition in Al-Azhar National Competition</h5>
			
								<h5><strong>Platinum Award</strong><br>
										Asian Student Exchange Program in Kaohsiung, Taiwan</h5>
			
								<h5><strong>3rd Prize</strong><br>
										Valedictorian, Certificate of Completion in Junior High School</h5>
			
								<h5><strong>Prize for Theory 2014, 2015</strong><br>
										Yayasan Pendidikan Musik</h5>
			
								<h5><strong>2nd Prize</strong><br>
										Presentation summit of English for Adults in LBPP LIA Grogol</h5>
			
								<h5><strong>Silver Medalist</strong><br>
										Swimming Competition for Women Changing Relay in Freestyle in Olimpiade UI</h5>
			
								<h5><strong>Bronze Medalist</strong><br>
										Swimming Competition for Women Freestyle Relay in Olimpiade UI</h5>
			
								<h5><strong>Dana Cita</strong><br>
									Campus Ambassador 2.0</h5>
							</ul>
						</div>
					</div>
				</div>
			</div>	

			<div class="text-center"  style="margin: 9% 9% 0 9%; ">
                <div class="roundedrec"  id="fourthpage" style="background-color: maroon; color: white;">
					<div class="insiderec">
						<img class="education" src="http://cdn.onlinewebfonts.com/svg/img_532449.png" alt="School" width="150px" height="150px">	
				
						<div class="timeline">
							<h2>EDUCATION</h2><br>
							<h4><strong>TK Kartini</strong></h4>
							<p>2004-2006</p>
							<hr>
							<h4><strong>SD Islam Al-Azhar 1 Pusat</strong></h4>
							<p>2006-2012</p>    
							<hr>
							<h4><strong>SMP Islam Al-Azhar 1 Pusat</strong></h4>
							<p>2012-2014</p>    
							<hr>
							<h4><strong>SMAN 78 Jakarta</strong></h4>
							<p>2014-2017</p>    
							<hr>
							<h4><strong>Universitas Indonesia</strong></h4>
							<p>Information System</p>
							<p>2017-Now</p>
							
						</div>
					</div>
				</div>
			</div>	
	
	
			<div class="text-center" style="margin: 9%; ">
                <div class="roundedrec"  id="fifthpage" style="background-color: #d2926f; color: maroon;">
					<div class="insiderec">
						<button type="button" class="btn btn-outline-warning" id="changetheme" style="text-align: center; margin: 10px;">Change theme 1!</button>
						<button type="button" class="btn btn-outline-dark" id="changeback" style="text-align: center;">Change theme 2!</button>
					</div>
				</div>
			</div>	
	
			<div class="footer" id="eleventhpage">
				{% include "app6/partials/footer.html" %}
			</div>
		
		
		</div>

		
		{% endblock %}
	</body>
</html>

