<!DOCTYPE html>
<html lang="en">
	<head>
		{% include 'app6/layout/base.html' %}
		{% load staticfiles %}
		{% load static %}
		
		<!--Made with love by Alya Isti Safira-->
		<title>Subscribe!?</title>
		   
	</head>
	<body onload="myFunction()" style="background-color: #70656b">
		{% block hello %}

		<div id = "centered">
			<div class = "blob-1"></div>
			<div class = "blob-2"></div>
		</div>

		<div style="display:none;" class="animate-bottom" id="myCodes">
			
			<div id ="nav-placeholder">
				{% include "app6/partials/header.html" %}
			</div>

			<!-- Registration form -->

			<div class="text-center" style="margin: 9%; padding: 1em;">
				<div class="roundedrec">
					<div class="insiderec">
						<h2 >Subscribe!</h2>
						<br><br>
						<form method="POST">
							{% csrf_token %}
							
							<div id="the_post">
								<div class="form-group row">
									<label for="name" class="col-sm-2 col-form-label">Name</label>
									<div class="col-sm-10">
									{{form.name}}
									</div>
								</div>
								<div class="form-group row">
									<label for="password" class="col-sm-2 col-form-label">Password (min. 8 characters)</label>
									<div class="col-sm-10" id="myPassword">
										{{form.password}}
									</div>
									
								</div>
								<div class="form-group row">
									<label for="email" class="col-sm-2 col-form-label">Email</label>
									<div class="col-sm-10">
										{{form.email}}
									</div>
								</div>
								<div class="form-group row">
									<input id="checkBox" type="checkbox">I'm not a robot
								</div>
								
								
							</div>
							<button id="submit_button" disabled="disabled" type="submit" class="btn btn-dark">Subscribe!</button>
							
						</form>
					</div>
				</div>
			</div>

			<div class="container-fluid header6">
				<div class="d-flex flex-column bd-highlight mb-3">
					<div class="p-2 bd-highlight"><h1 class="text mb-0" style="color: black">Subscribers.</h1></div>
					<hr>
				</div>
			</div>
			<div class="col-sm-20">
				<div class="container-fluid header6">
					<div class="roundedrec">
						<div class="insiderec">
							<table class = "table" id="subscriberstable" style="color: black;">
									<!-- <thead style="color: black;">
										<th>Name</th>
										<th>Email</th>
										<th></th>
									</thead> -->
							</table>

							
						</div>
					</div>
				</div>
			</div>

			
			<div class="footer" id="eleventhpage">
				{% include "app6/partials/footer.html" %}
			</div>
		
		
		</div>

		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.29.0/dist/sweetalert2.all.min.js"></script>
		<script>
		// function showText() {
		// 	var x = document.getElementById("myPassword");
		// 	if (x.type === "password") {
		// 		x.type = "text";
		// 	} else {
		// 		x.type = "password";
		// 	}

		// }
</script>
		
		{% endblock %}
		
    </body>
</html>