/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

.header, body {
    font-family: 'Roboto Mono', monospace!important;}


body{
    background-repeat: no-repeat;
    background-attachment: fixed;  
    height: 100%;
    
}

.jumbotron{
    text-align: center;
    margin: 20%;
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 3%;
    border: solid;

}

.container{
    width: 100%;
    background-color: black;

}

.footer{
    /*left: 5;
    bottom: 5;*/
    padding: 5%;
    text-align: center;
    background-color: black;
    width: 100%;
    color: white;
    display: inline-block;
    
}

imagesaya{
    margin-top:2%;
    border-radius: 100%;
    object-fit: cover;
    box-sizing: border-box;
    /**box-shadow: 5px 5px;*/
}

.navbar {
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar a {
    display: inline-block;
    color: #F9F5F3;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 15px;
    float: right;
    z-index: 1000;
}

#mainpage{
    padding: 8%;
    color: white;
    text-align: center;
    background-color: black;

}

#secondpage{
    background-color: #F5FFFC;
    color: maroon;
}


#fourthpage{
    background-color: maroon;
    color: white;
}


body {
background: #252827;
font-size: 16px;
}

p {
font-weight: 300;
}

strong {
font-weight: 600;
}

h1 {
letter-spacing: 1.5px;
color: black;  
font-weight: 400;
font-size: 2.4em;
}

#content {
margin-top: 50px;
text-align: center;  
}


#submitbutton{
    color: black;
    text-align: center;
}


.tableform{
    margin: 15%;
    margin-top: 5%;
}

.tableresult{
    margin: 15%;
    margin-top: 5%;
    
    
}


.roundedrec {
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px 0.1px rgba(116, 116, 116, 0.1);
    margin-top:10px;
    margin-bottom:10px;  
    overflow-wrap: break-word;  
    width: 100%;
    z-index: -1;
}



.insiderec {   
    padding: 15px;
    overflow-wrap: break-word;
    z-index: -1;
}

