/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

html {
    scroll-behavior: smooth !important;
    -webkit-font-smoothing: antialiased;
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    

}

body {
    background: #252827;
    /* font-size: 16px; */
    background-repeat: no-repeat;
    background-attachment: fixed;  
    height: 100%;
    }

.header, body {
    font-family: 'Roboto Mono', monospace!important;
}




/* #loader{
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite; 
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
}


#myCodes{
    display: none;
    text-align: center;
} */




.jumbotron{
    text-align: center;
    margin: 20%;
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 3%;
    border: solid;
}

.text-center{
    text-align: center;
    margin: 20%;
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 3%;
    /* border: solid; */
}

.container{
    width: 100%;
    background-color: black;
}

.footer{
    /*left: 5;
    bottom: 5;*/
    padding: 5%;
    text-align: center;
    background-color: black;
    width: 100%;
    color: white;
    display: inline-block;    
}

.navbar {
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar a {
    display: inline-block;
    color: #F9F5F3;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 15px;
    /*float: right;*/
    z-index: 1000;
}

#mainpage{
    padding: 8%;
    color: white;
    text-align: center;
    background-color: black;

}

/* #secondpage{
    background-color: #d2926f;
    color: maroon;
}


#fourthpage{
    background-color: maroon;
    color: white;
} */

#fifthpage{
    background-color: black;
    color: white;
}


/* h1 {
    letter-spacing: 1.5px;
    color: black;  
    font-weight: 400;
    /*font-size: 2.4em;*/
    /* font-size: 5vw; } */


#content {
margin-top: 50px;
text-align: center;  
}


#submitbutton{
    color: black;
    text-align: center;
}


.tableform{
    margin: 15%;
    margin-top: 5%;
}

.tableresult{
    margin: 15%;
    margin-top: 5%;
    
    
}

/*Forms*/
.roundedrec {
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px 0.1px rgba(116, 116, 116, 0.1);
    margin-top:10px;
    margin-bottom:10px;  
    overflow-wrap: break-word;  
    width: 100%;
    z-index: -1;
}

.insiderec {   
    padding: 15px;
    overflow-wrap: break-word;
    z-index: -1;
}
