/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/*html {
    -webkit-font-smoothing: antialiased;
}*/

body {
    background: #252827;
    font-size: 16px;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    height: 100%;
    }

.header, body {
    font-family: 'Roboto Mono', monospace!important;}



.jumbotron{
    text-align: center;
    margin: 20%;
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 3%;
    border: solid;
    

}






.container{
    width: 100%;
    background-color: black;

}

.footer{
    /*left: 5;
    bottom: 5;*/
    padding: 5%;
    text-align: center;
    background-color: black;
    width: 100%;
    color: white;
    display: inline-block;
    
}


.navbar {
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar a {
    display: inline-block;
    color: #F9F5F3;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 15px;
    /*float: right;*/
    z-index: 1000;
}

#mainpage{
    padding: 8%;
    color: white;
    text-align: center;
    background-color: black;

}

#secondpage{
    background-color: #d2926f;
    color: maroon;
}

/* #thirdpage{
    background-color: peru;
    color: black;
} */


#fourthpage{
    background-color: maroon;
    color: white;
}

#fifthpage{
    background-color: black;
    color: white;
}




h1 {
    letter-spacing: 1.5px;
    color: black;  
    font-weight: 400;
    /*font-size: 2.4em;*/
    font-size: 5vw;

}


#content {
margin-top: 50px;
text-align: center;  
}


#submitbutton{
    color: black;
    text-align: center;
}


.tableform{
    margin: 15%;
    margin-top: 5%;
}

.tableresult{
    margin: 15%;
    margin-top: 5%;
    
    
}

.roundedrec {
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px 0.1px rgba(116, 116, 116, 0.1);
    margin-top:10px;
    margin-bottom:10px;  
    overflow-wrap: break-word;  
    width: 100%;
    z-index: -1;
}

.insiderec {   
    padding: 15px;
    overflow-wrap: break-word;
    z-index: -1;
}

/*ACCORDION*/
